# fly.toml app configuration file generated for book-search-app-wild-silence-8674 on 2025-11-11T10:31:27-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'book-search-app-wild-silence-8674'
primary_region = 'sjc'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'sh release.sh'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = 'data'
  destination = '/data'

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
